{% macro render_meteo_live_page(data_status, station_data, current_weather_data, daily_extremes) %}
    {% if data_status["is_table_empty"] %}
        <div class="container mt-4">
            <h3 class="text-center text-danger">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-database fa-stack-1x fa-inverse text-info"></i>
                    <i class="fas fa-slash fa-stack-1x text-danger"></i>
                </span><br>
                Aucune donnée n'est actuellement disponible.<br>
                Veuillez réessayer ultérieurement.
            </h3>
        </div>
    {% else %}
        <div class="container mt-4">
            {{ render_station_overview(data_status, station_data, current_weather_data) }}
        </div>
        <div class="container mt-3">
            <div class="row">
                {{ render_temperature_card(current_weather_data, station_data["has_trend"], daily_extremes) }}
                {{ render_rain_card(current_weather_data) }}
                {{ render_wind_card(current_weather_data, daily_extremes) }}
                {{ render_humidity_card(current_weather_data) }}

                {% if station_data["has_pressure"] %}
                    {{ render_pressure_card(current_weather_data) }}
                {% endif %}
                {% if station_data["has_radiation"] %}
                    {{ render_radiation_card(current_weather_data) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_station_overview(data_status, station_data, current_weather_data) %}
    {% if not data_status["is_data_fresh"] %}
        <div class="d-flex justify-content-md-center">
            <div class="alert alert-dismissible w-40 text-center text-light-red bg-dark-red border-error" role="alert" id="weather-station-unavailable-alert" style="display: none;">
                Station météorologique indisponible.
                <a role="button" class="position-absolute end-0 me-4 text-light-red" id="weather-station-unavailable-alert-button">
                  <i class="fa-solid fa-xmark fa-lg"></i>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="d-flex flex-column flex-md-row">
        <div>
            <span class="badge p-3 {% if not data_status['is_data_fresh'] %}text-light-red bg-dark-red border-error{% else %}text-light-green bg-dark-green border-achievement{% endif %}" id="liveDateTime">
                <i class="fa-solid fa-rotate-right me-2"></i>Données mises à jour le {{ format_weather_value( current_weather_data["update_datetime"]) }}
            </span>
        </div>
        <div>
            <span class="badge p-3 text-light opacity-75">
                <i class="fa-solid fa-map-pin me-2"></i>{{ station_data["city"] }}
            </span>
        </div>
        <div>
            <span class="badge p-3 text-light opacity-75">
                <i class="fa-solid fa-mountain me-2"></i>{{ station_data["elevation"] }}
            </span>
        </div>
        <div>
            <span class="badge p-3 text-light opacity-75">
                <i class="fa-solid fa-diagram-project me-2"></i>Réseau {{ station_data["network"] }}
            </span>
        </div>
    </div>
{% endmacro %}

{% macro render_temperature_card(current_weather_data, has_trend, daily_extremes) %}
    <div class="col-lg">
        <div class="card bg-primary-color weather-card p-3">
            <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                    <div class="p-2 badge-primary bg-secondary-color rounded-4">
                        <span class="fa-stack fa-lg fa-fw">
                            <i class="fa-solid fa-temperature-three-quarters fa-stack-1x text-light"></i>
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1 ms-4">
                    <p class="text-light opacity-50 mb-1">
                        Température
                    </p>
                    <h5 class="fw-bold mb-1 text-light">
                        {{ format_weather_value(current_weather_data['temperature']) }} °C
                        {%- if has_trend and current_weather_data["temperature_trend"] == "down" -%}
                            <i class="fa-solid fa-arrow-trend-down text-info ms-2 ms-xl-1 ms-xxl-2 fs-6"></i>

                        {%- elif has_trend and current_weather_data["temperature_trend"] == "up" -%}
                            <i class="fa-solid fa-arrow-trend-up text-danger ms-2 ms-xl-1 ms-xxl-2 fs-6"></i>
                        {% endif %}
                    </h5>

                </div>
            </div>
            <div class="d-flex flex-grow-1"></div>
            <div class="d-flex justify-content-between">
                <div class="text-light"
                     data-mdb-tooltip-init
                     title="{%- if daily_extremes['tmin_time'] is not none -%}{{ daily_extremes['tmin_time'] }}{% endif %}">
                    <i class="fa-solid fa-arrow-down text-info me-2"></i>
                    <span>
                        {{ format_weather_value(daily_extremes['tmin']) }} °C
                    </span>
                </div>

                <div class="text-light"
                     data-mdb-tooltip-init
                     title="{%- if daily_extremes['tmax_time'] is not none -%}{{ daily_extremes['tmax_time'] }}{% endif %}">
                    <i class="fa-solid fa-arrow-up text-danger me-2"></i>
                    <span>
                        {{ format_weather_value(daily_extremes['tmax']) }} °C
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_rain_card(current_weather_data) %}
    <div class="col-lg mt-lg-0 mt-3">
        <div class="card bg-primary-color weather-card p-3">
            <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                    <div class="p-2 badge-primary bg-secondary-color rounded-4">
                        <span class="fa-stack fa-lg fa-fw">
                            <i class="fa-solid fa-cloud-rain fa-stack-1x text-light"></i>
                            {%- if current_weather_data['rain_1h']|float <= 0 or current_weather_data['rain_1h'] is none -%}
                                <i class="fa-solid fa-slash fa-stack-1x text-danger"></i>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1 ms-4">
                    <p class="text-light opacity-50 mb-1">
                        Pluie
                    </p>
                    <h5 class="fw-bold mb-1 text-light"
                        data-mdb-tooltip-init
                        title="{%- if current_weather_data['rain_1h_date'] is not none -%}{{ current_weather_data['rain_1h_date'] }}{% endif %}">
                        {{ format_weather_value(current_weather_data['rain_1h']) }} mm/1h
                    </h5>
                </div>
            </div>
            <div class="d-flex flex-grow-1"></div>
            <div class="d-flex justify-content-between">
                <p class="small mb-0">
                    <span class="text-light">Cumul du jour :</span>
                    <span class="text-rain-color">
                        {{ format_weather_value(current_weather_data['rain_24h']) }} mm
                    </span>
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_wind_card(current_weather_data, daily_extremes) %}
    <div class="col-xl mt-xl-0 mt-3">
        <div class="card bg-primary-color weather-card p-3">
            <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                    <div class="p-2 badge-primary bg-secondary-color rounded-4">
                        <span class="fa-stack fa-lg fa-fw">
                            <i class="fa-solid fa-wind fa-stack-1x text-light"></i>
                            {%- if current_weather_data["wind_speed"]|float <= 0 or current_weather_data["wind_speed"] is none -%}
                                <i class="fa-solid fa-slash fa-stack-1x text-danger"></i>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1 ms-4">
                    <p class="text-light opacity-50 mb-1">
                        Vent
                    </p>
                    <h5 class="fw-bold mb-1 text-light"
                        data-mdb-tooltip-init
                        title="raf: {{ format_weather_value(current_weather_data['gust_speed']) }} km/h">
                        {{ format_weather_value(current_weather_data['wind_speed']) }} km/h
                    </h5>
                </div>
            </div>
            <div class="d-flex flex-grow-1"></div>
            <div class="d-flex justify-content-between">
                <div class="text-light"
                     data-mdb-tooltip-init
                     title="{%- if daily_extremes['gust_max_time'] is not none -%}{{ daily_extremes['gust_max_time'] }}{% endif %}">
                    <i class="fa-solid fa-location-arrow text-danger me-2"></i>
                    <span>
                        {{ format_weather_value(daily_extremes['gust_max']) }} km/h
                    </span>
                </div>

                <div class="text-light"
                     data-mdb-tooltip-init
                     title="{% if current_weather_data['wind_speed'] != 0 or current_weather_data['gust_speed'] != 0 %}Angle: {{ format_weather_value(current_weather_data['wind_angle']) }} °{% endif %}">
                    <i class="fa-solid fa-compass text-light me-2"></i>
                    <span>
                        {% if current_weather_data['wind_speed'] != 0 or current_weather_data["gust_speed"] != 0 %}
                            {{ format_weather_value(current_weather_data['wind_direction']) }}
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_humidity_card(current_weather_data) %}
    <div class="col-lg mt-xl-0 mt-3">
        <div class="card bg-primary-color weather-card p-3">
            <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                    <div class="p-2 badge-primary bg-secondary-color rounded-4">
                        <span class="fa-stack fa-lg fa-fw">
                            <i class="fa-solid fa-droplet fa-stack-1x text-light"></i>
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1 ms-4">
                    <p class="text-light opacity-50 mb-1">
                        Humidité
                    </p>
                    <h5 class="fw-bold mb-1 text-light">
                        {{ format_weather_value(current_weather_data['humidity']) }} %
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_pressure_card(current_weather_data) %}
    <div class="col-lg mt-xl-0 mt-3">
        <div class="card bg-primary-color weather-card p-3">
            <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                    <div class="p-2 badge-primary bg-secondary-color rounded-4">
                        <span class="fa-stack fa-lg fa-fw">
                            <i class="fa-solid fa-gauge fa-stack-1x text-light"></i>
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1 ms-4">
                    <p class="text-light opacity-50 mb-1">
                        Pression
                    </p>
                    <h5 class="fw-bold mb-1 text-light">
                        {{ format_weather_value(current_weather_data['pressure']) }} hPa
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_radiation_card(current_weather_data) %}
    <div class="col-lg mt-xl-0 mt-3">
        <div class="card bg-primary-color weather-card p-3">
            <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                    <div class="p-2 badge-primary bg-secondary-color rounded-4">
                        <span class="fa-stack fa-lg fa-fw">
                            <i class="fa-solid fa-sun fa-stack-1x text-light"></i>
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1 ms-4">
                    <p class="text-light opacity-50 mb-1">
                        Radiations
                    </p>
                    <h5 class="fw-bold mb-1 text-light">
                        {{ format_weather_value(current_weather_data['uv']) }} W/m²
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro format_weather_value(value) %}
    {% if value is not none %}
        {{ value }}
    {% else %}
        -
    {% endif %}
{% endmacro %}