{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="d-flex align-items-center justify-content-center ms-auto me-auto">
            <div class="flex-shrink-0">
                <h1>404</h1>
            </div>
            <div class="flex-shrink-0 ms-3 justify-content-center">
                <h6 class="text-light opacity-50 mb-0 fw-normal">
                    404 Not Found: The requested URL was not found on the server.<br> If you entered the URL manually please check your spelling and try again.
                </h6>
            </div>
        </div>
    </div>
{% endblock %}