{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forecasts.css') }}">
{% endblock css %}

{% block previsions_active %}
    active
{% endblock %}

{% block content %}
    {% if forecasts_is_empty %}
        <div class="container mt-4">
            <h3 class="text-center text-danger">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-database fa-stack-1x fa-inverse text-info"></i>
                    <i class="fas fa-slash fa-stack-1x text-danger"></i>
                </span><br>
                Aucune prévision n'est actuellement disponible.<br>
                veuillez réessayer ultérieurement.
            </h3>
        </div>
    {% else %}
        <div class="container mt-4">
            {% if not is_data_fresh %}
                <div class="d-flex justify-content-md-center">
                    <div class="alert alert-dismissible w-40 text-center text-light-red bg-dark-red border-error" role="alert" id="forecasts-unavailable-alert" style="display: none;">
                        Les prévisions météorologiques ne sont pas à jour.
                        <a role="button" class="position-absolute end-0 me-4 text-light-red" id="forecasts-unavailable-alert-button">
                          <i class="fa-solid fa-xmark fa-lg"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="d-flex flex-column flex-md-row">
                <div>
                    <span class="badge p-3 {% if not is_data_fresh %}text-light-red bg-dark-red border-error{% else %}text-light-green bg-dark-green border-achievement{% endif %}">
                        <i class="fa-solid fa-rotate-right me-2"></i>Dernière mise à jour : {{ update_datetime }}
                    </span>
                </div>
                <div>
                    <span class="badge p-3 text-light opacity-75">
                        <i class="fa-solid fa-map-pin me-2"></i><span class="text-info">Grenoble</span>
                    </span>
                </div>
                <div>
                    <span class="badge p-3 text-light opacity-75">
                        <i class="fa-solid fa-mountain me-2"></i>218 m
                    </span>
                </div>
                <div>
                    <span class="badge p-3 text-light opacity-75">
                        <i class="fa-brands fa-uncharted me-2"></i>45.18°N | 5.71°E
                    </span>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card bg-primary-color msi-border p-2">
                        {% for data in forecasts_data %}
                            {% if data["index"] > 0 %}
                                <hr class="mt-1 mb-1">
                            {% endif %}
                            <div class="d-flex p-1 rounded-3 align-items-center action-item forecast-items {% if data['index'] == 0 %} bg-active-color border-active action-item-disabled{% endif %}" data-value="{{ data['index'] }}">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="https://static.meteoblue.com/assets/images/picto/{{ data['pictocode'] }}_iday.svg" alt="weather-icon" style="width: 60px; height: 60px;">
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h6 class="text-light mb-1 fw-bold">
                                        {{ data["day_name"] }}
                                    </h6>
                                    <h6 class="text-light opacity-50 mb-0 fw-normal">
                                        {{ data["frDate"] }}
                                    </h6>
                                </div>
                                <div class="me-3 text-end">
                                    <h6 class="text-info mb-2 fw-normal">
                                        {{ data["temperature_min"] }} °C
                                    </h6>
                                    <h6 class="text-danger mb-0 fw-normal">
                                        {{ data["temperature_max"] }} °C
                                    </h6>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-3">
                    <div class="card bg-primary-color msi-border p-4">
                        <div id="forecasts-content">
                            <div class="row">
                                <div class="col-4 ms-auto me-auto">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="flex-shrink-0">
                                            <img class="img-fluid" alt="weather-icon" style="width: 80px; height: 80px;" id="pictocode" src="">
                                        </div>
                                        <div class="flex-shrink-0 ms-3 justify-content-center">
                                            <h5 class="text-light mb-2 fw-bold" id="dayName">
                                            </h5>
                                            <h6 class="text-light opacity-50 mb-0 fw-normal" id="date">
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex align-items-center ms-auto me-auto">
                                    <div class="flex-grow-1">
                                        <h6 class="text-light mb-2 opacity-75">
                                            Prévisibilité : <span class="" id="predictabilityLabel"></span>
                                        </h6>
                                        <div class="progress bg-light forecasts-progress">
                                            <div class="progress-bar text-dark fw-bold"
                                                 role="progressbar"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"
                                                 id="predictability">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-outline table-responsive p-2 mt-3">
                                <table class="table align-middle table-borderless text-nowrap" data-value="true" id="forecasts-table">
                                    <tbody>
                                        <tr>
                                            <th class="text-light fw-bold opacity-75" scope="row">Température :</th>
                                            <td class="text-light"><i class="fa-solid fa-caret-down me-2 text-info"></i><span id="temperature_min"></span> <sup><span class="opacity-75">°C</span></sup></td>
                                            <td class="text-light"><span id="temperature_mean"></span> <sup><span class="opacity-75">°C</span></sup></td>
                                            <td class="text-light"><i class="fa-solid fa-caret-up me-2 text-danger"></i><span id="temperature_max"></span> <sup><span class="opacity-75">°C</span></sup></td>
                                        </tr>
                                        <tr class="bg-active-color">
                                            <th class="text-light fw-bold opacity-75" scope="row">Température ressentie :</th>
                                            <td class="text-light"><i class="fa-solid fa-caret-down me-2 text-info"></i><span id="felttemperature_min"></span> <sup><span class="opacity-75">°C</span></sup></td>
                                            <td class="text-light"><span id="felttemperature_mean"></span> <sup><span class="opacity-75">°C</span></sup></td>
                                            <td class="text-light"><i class="fa-solid fa-caret-up me-2 text-danger"></i><span id="felttemperature_max"></span> <sup><span class="opacity-75">°C</span></sup></td>
                                        </tr>
                                        <tr>
                                            <th class="text-light fw-bold opacity-75" scope="row">Précipitations :</th>
                                            <td class="text-light"><span id="precipitation"></span> <sup><span class="opacity-75">mm</span></sup></td>
                                            <td class="text-light"><i class="fa-solid fa-clock me-2"></i><span id="precipitation_hours"></span> <sup><span class="opacity-75">h</span></sup></td>
                                            <td></td>
                                        </tr>
                                        <tr class="bg-active-color">
                                            <th class="text-light fw-bold opacity-75" scope="row">Probabilité de précipitation :</th>
                                            <td colspan="2">
                                                <div class="progress forecasts-progress bg-light">
                                                    <div class="progress-bar bg-rain-color text-dark fw-bold"
                                                         data-mdb-tooltip-init="true"
                                                         role="progressbar"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         id="precipitation_probability"
                                                         title="">
                                                    </div>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="text-light fw-bold opacity-75" scope="row">Pluie convective :</th>
                                            <td class="text-light"><span id="convective_precipitation"></span> <sup><span class="opacity-75">mm</span></sup></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="bg-active-color">
                                            <th class="text-light fw-bold opacity-75" scope="row">Fraction de neige :</th>
                                            <td class="text-light"><i class="fa-solid fa-snowflake me-2"></i><span id="snow_fraction"></span> <sup><span class="opacity-75">%</span></sup></td>
                                            <td class="text-light"><i class="fa-solid fa-droplet text-rain-color me-2"></i><span id="rain_fraction"></span> <sup><span class="opacity-75">%</span></sup></td>
                                            <td></td>
                                        </tr>
                                        <tr class="collapsable">
                                            <th class="text-light fw-bold opacity-75" scope="row">Vitesse du vent :</th>
                                            <td class="text-light"><i class="fa-solid fa-caret-down me-2 text-info"></i><span id="windspeed_min"></span> <sup><span class="opacity-75">km/h</span></sup></td>
                                            <td class="text-light"><span id="windspeed_mean"></span> <sup><span class="opacity-75">km/h</span></sup></td>
                                            <td class="text-light"><i class="fa-solid fa-caret-up me-2 text-danger"></i><span id="windspeed_max"></span> <sup><span class="opacity-75">km/h</span></sup></td>
                                        </tr>
                                        <tr class="collapsable bg-active-color">
                                            <th class="text-light fw-bold opacity-75" scope="row">Direction du vent :</th>
                                            <td class="text-light"><i class="fa-solid fa-arrow-up-long me-2" id="windDirectionArrow"></i><span id="wind_direction"></span></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="collapsable">
                                            <th class="text-light fw-bold opacity-75" scope="row">Pression :</th>
                                            <td class="text-light"><i class="fa-solid fa-caret-down me-2 text-info"></i><span id="sealevelpressure_min"></span> <sup><span class="opacity-75">hPa</span></sup></td>
                                            <td class="text-light"><span id="sealevelpressure_mean"></span> <sup><span class="opacity-75">hPa</span></sup></td>
                                            <td class="text-light"><i class="fa-solid fa-caret-up me-2 text-danger"></i><span id="sealevelpressure_max"></span> <sup><span class="opacity-75">hPa</span></sup></td>
                                        </tr>
                                        <tr class="collapsable bg-active-color">
                                            <th class="text-light fw-bold opacity-75" scope="row">Humidité :</th>
                                            <td class="text-light"><i class="fa-solid fa-caret-down me-2 text-info"></i><span id="relativehumidity_min"></span> <sup><span class="opacity-75">%</span></sup></td>
                                            <td class="text-light"><span id="relativehumidity_mean"></span> <sup><span class="opacity-75">%</span></sup></td>
                                            <td class="text-light"><i class="fa-solid fa-caret-up me-2 text-danger"></i><span id="relativehumidity_max"></span> <sup><span class="opacity-75">%</span></sup></td>
                                        </tr>
                                        <tr class="collapsable">
                                            <th class="text-light fw-bold opacity-75" scope="row">Soleil :</th>
                                            <td class="text-light"><i class="fa-solid fa-sun me-2 text-amber-color"><sup><span class="opacity-75">&nbsp;&nbsp;<i class="fa-solid fa-caret-up text-light"></i></span></sup></i><span id="sunrise"></span></td>
                                            <td class="text-light"><i class="fa-solid fa-sun me-2 text-amber-color"><sup><span class="opacity-75">&nbsp;&nbsp;<i class="fa-solid fa-caret-down text-light"></i></span></sup></i><span id="sunset"></span></td>
                                            <td class="text-light"><i class="fa-regular fa-sun me-2 text-amber-color"></i><span id="uvindex"></span></td>
                                        </tr>
                                        <tr class="collapsable bg-active-color">
                                            <th class="text-light fw-bold opacity-75" scope="row">Lune :</th>
                                            <td class="text-light"><i class="fa-solid fa-moon me-2"><sup><span class="opacity-75">&nbsp;&nbsp;<i class="fa-solid fa-caret-up text-light"></i></span></sup></i><span id="moonrise"></span></td>
                                            <td class="text-light"><i class="fa-solid fa-moon me-2"><sup><span class="opacity-75">&nbsp;&nbsp;<i class="fa-solid fa-caret-down text-light"></i></span></sup></i><span id="moonset"></span></td>
                                            <td class="text-light"><span id="moonphasename"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <button type="button" class="btn btn-floating text-light collapseButton" data-mdb-ripple-init id="collapseButton">
                                        <i class="fa-solid fa-angles-down" id="collapseButtonIcon"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="card bg-primary-color p-3 msi-border">
                        <h5 class="card-title text-center text-light">
                            Évolution des températures sur 7 jours (°C)
                        </h5>
                        <span id="forecastsTemperatureChartValues"
                            values-w = "{% for value in forecasts_data %}{{ value['date'] }},{% endfor %}"
                            values-x = "{% for value in forecasts_data %}{{ value['temperature_min'] }},{% endfor %}"
                            values-y = "{% for value in forecasts_data %}{{ value['temperature_mean'] }},{% endfor %}"
                            values-z = "{% for value in forecasts_data %}{{ value['temperature_max'] }},{% endfor %}"
                            style="display: none;">
                        </span>
                        <canvas id="forecastsTemperatureChart"></canvas>
                    </div>
                </div>

                <div class="col-lg-6 mt-lg-0 mt-3">
                    <div class="card bg-primary-color p-3 msi-border">
                        <h5 class="card-title text-center text-light">
                            Évolution des précipitations sur 7 jours (mm)
                        </h5>
                        <span id="forecastsRainChartValues"
                            values-x = "{% for value in forecasts_data %}{{ value['precipitation'] }},{% endfor %}"
                            style="display: none;">
                        </span>
                        <canvas id="forecastsRainChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/page/forecasts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts/forecasts.js') }}"></script>
{% endblock %}