{% extends 'layout.html' %}
{% from "macros/meteo_live_macros.html" import format_weather_value %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meteo_live.css') }}">
{% endblock css %}

{% block meteo_active %}
    active
{% endblock %}

{% block content %}
    {% if data_status["is_table_empty"] %}
        <div class="container mt-4">
            <h3 class="text-center text-danger">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-database fa-stack-1x fa-inverse text-info"></i>
                    <i class="fas fa-slash fa-stack-1x text-danger"></i>
                </span><br>
                Aucune donnée n'est actuellement disponible.<br>
                veuillez réessayer ultérieurement.
            </h3>
        </div>
    {% else %}
        <div class="container mt-4">
            {% if not data_status["is_data_fresh"] %}
                <div class="d-flex justify-content-md-center">
                    <div class="alert alert-dismissible w-40 text-center text-light-red bg-dark-red border-error" role="alert" id="weather-station-unavailable-alert" style="display: none;">
                        Station météorologique indisponible.
                        <a role="button" class="position-absolute end-0 me-4 text-light-red" id="weather-station-unavailable-alert-button">
                          <i class="fa-solid fa-xmark fa-lg"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="d-flex flex-column flex-md-row">
                <div>
                    <span class="badge p-3 {% if not data_status['is_data_fresh'] %}text-light-red bg-dark-red border-error{% else %}text-light-green bg-dark-green border-achievement{% endif %}">
                        <i class="fa-solid fa-rotate-right me-2"></i>Données mises à jour le {{ current_weather_data["update_datetime"] }}
                    </span>
                </div>
                <div>
                    <span class="badge p-3 text-light opacity-75">
                        <i class="fa-solid fa-map-pin me-2"></i>Saint-Martin-d'Hères
                    </span>
                </div>
                <div>
                    <span class="badge p-3 text-light opacity-75">
                        <i class="fa-solid fa-mountain me-2"></i>220 m
                    </span>
                </div>
                <div>
                    <span class="badge p-3 text-light opacity-75">
                        <i class="fa-solid fa-diagram-project me-2"></i>Réseau StatIC
                    </span>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg">
                    <div class="card bg-primary-color weather-card p-3">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                                <div class="p-2 badge-primary bg-secondary-color rounded-4">
                                    <span class="fa-stack fa-lg fa-fw">
                                        <i class="fa-solid fa-temperature-three-quarters fa-stack-1x text-light"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <p class="text-light opacity-50 mb-1">
                                    Température
                                </p>
                                <h5 class="fw-bold mb-1 text-light">
                                    {{ format_weather_value(current_weather_data['temperature']) }} °C
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex flex-grow-1"></div>
                        <div class="d-flex justify-content-between">
                            {% if daily_extremes["tmin"] is not none %}
                                <div class="text-light" data-mdb-tooltip-init title="{{ daily_extremes['tmin_time'] }}">
                                    <i class="fa-solid fa-arrow-down text-info me-2"></i>{{ daily_extremes['tmin'] }} °C
                                </div>
                            {% else %}
                                <div class="text-light">
                                    <i class="fa-solid fa-arrow-down text-info me-2"></i>- °C
                                </div>
                            {% endif %}

                            {% if daily_extremes["tmax"] is not none %}
                                <div class="text-light" data-mdb-tooltip-init title="{{ daily_extremes['tmax_time'] }}">
                                    <i class="fa-solid fa-arrow-up text-danger me-2"></i>{{ daily_extremes['tmax'] }} °C
                                </div>
                            {% else %}
                                <div class="text-light">
                                    <i class="fa-solid fa-arrow-up text-danger me-2"></i>- °C
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg mt-lg-0 mt-3">
                    <div class="card bg-primary-color weather-card p-3">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                                <div class="p-2 badge-primary bg-secondary-color rounded-4">
                                    <span class="fa-stack fa-lg fa-fw">
                                        <i class="fa-solid fa-cloud-rain fa-stack-1x text-light"></i>
                                        {% if current_weather_data['rain_1h']|float <= 0 or current_weather_data['rain_1h'] is none %}
                                            <i class="fa-solid fa-slash fa-stack-1x text-danger"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <p class="text-light opacity-50 mb-1">
                                    Pluie
                                </p>
                                {% if current_weather_data['rain_1h'] is not none %}
                                    <h5 class="fw-bold mb-1 text-light" data-mdb-tooltip-init title="{{ current_weather_data['rain_1h_date'] }}">
                                        {{ current_weather_data['rain_1h'] }} mm/1h
                                    </h5>
                                {% else %}
                                    <h5 class="fw-bold mb-1 text-light">
                                        - mm/1h
                                    </h5>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex flex-grow-1"></div>
                        <div class="d-flex justify-content-between">
                            <p class="small mb-0">
                                <span class="text-light opacity-75">Cumul du jour :</span> <span class="text-rain-color">{{ format_weather_value(current_weather_data['rain_24h']) }} mm</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl mt-xl-0 mt-3">
                    <div class="card bg-primary-color weather-card p-3">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                                <div class="p-2 badge-primary bg-secondary-color rounded-4">
                                    <span class="fa-stack fa-lg fa-fw">
                                        <i class="fa-solid fa-wind fa-stack-1x text-light"></i>
                                        {% if current_weather_data["wind_speed"]|float <= 0 or current_weather_data["wind_speed"] is none %}
                                            <i class="fa-solid fa-slash fa-stack-1x text-danger"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <p class="text-light opacity-50 mb-1">
                                    Vent
                                </p>
                                <h5 class="fw-bold mb-1 text-light" data-mdb-tooltip-init title="raf: {{ format_weather_value(current_weather_data['gust_speed']) }} km/h">
                                    {{ format_weather_value(current_weather_data['wind_speed']) }} km/h
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex flex-grow-1"></div>
                        <div class="d-flex justify-content-between">
                            {% if daily_extremes['gust_max'] is not none %}
                                <div class="text-light" data-mdb-tooltip-init title="{{ daily_extremes['gust_max_time'] }}">
                                    <i class="fa-solid fa-location-arrow text-danger me-2"></i>{{ daily_extremes['gust_max'] }} km/h
                                </div>
                            {% else %}
                                <div class="text-light">
                                    <i class="fa-solid fa-location-arrow text-danger me-2"></i>- km/h
                                </div>
                            {% endif %}

                            {% if current_weather_data['wind_angle'] is not none and (current_weather_data["wind_speed"] != 0 or current_weather_data["gust_speed"] != 0) %}
                                <div class="text-light" data-mdb-tooltip-init title="Angle {{ current_weather_data['wind_angle'] }} °">
                                    <i class="fa-solid fa-compass text-light me-2"></i>{{ current_weather_data["wind_direction"] }}
                                </div>
                            {% else %}
                                <div class="text-light">
                                    <i class="fa-solid fa-compass text-light me-2"></i>-
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg mt-xl-0 mt-3">
                    <div class="card bg-primary-color weather-card p-3">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                                <div class="p-2 badge-primary bg-secondary-color rounded-4">
                                    <span class="fa-stack fa-lg fa-fw">
                                        <i class="fa-solid fa-droplet fa-stack-1x text-light"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <p class="text-light opacity-50 mb-1">
                                    Humidité
                                </p>
                                <h5 class="fw-bold mb-1 text-light">
                                    {{ format_weather_value(current_weather_data['humidity']) }} %
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex flex-grow-1"></div>
                        <div class="d-flex justify-content-between">

                            <p class="small mb-0">
                                <span class="text-light opacity-75">Point de rosée :</span> <span class="text-dew-point-color">{{ format_weather_value(current_weather_data['dew_point']) }} °C</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg mt-xl-0 mt-3">
                    <div class="card bg-primary-color weather-card p-3">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                                <div class="p-2 badge-primary bg-secondary-color rounded-4">
                                    <span class="fa-stack fa-lg fa-fw">
                                        <i class="fa-solid fa-sun fa-stack-1x text-light"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <p class="text-light opacity-50 mb-1">
                                    Radiations
                                </p>
                                <h5 class="fw-bold mb-1 text-light">
                                    {{ format_weather_value(current_weather_data['uv']) }} W/m²
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3" id="live_charts_container">
            <div class="row">
                <div class="col-lg-9 mt-lg-0 mt-3 order-2 order-lg-1">
                    <div class="card bg-primary-color p-3 msi-border">
                        <h5 class="card-title text-center text-light" id="liveChartTitle">
                        </h5>

                        <canvas id="liveChart"></canvas>
                    </div>
                </div>
                <div class="col-lg-3 order-1 order-lg-2">
                    <div class="dropdown custom-dropdown w-100">
                        <button
                            class="btn btn-hover bg-primary-color msi-border text-light dropdown-toggle w-100 d-flex justify-content-between align-items-center"
                            type="button"
                            data-mdb-dropdown-init
                            data-mdb-ripple-init
                            data-mdb-dropdown-animation="off"
                            aria-expanded="false">
                            <span id="chartPeriodSelectorTitle">24h</span>
                            <i class="fa-solid fa-sort fa-sm opacity-50"></i>
                        </button>
                        <ul class="dropdown-menu bg-primary-color msi-border w-100" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item text-light d-flex justify-content-between align-items-center action-item chart-period-selector action-item-disabled" data-value="1">24h<i class="fa-solid fa-check text-success"></i></a></li>
                            <li><a class="dropdown-item text-light d-flex justify-content-between align-items-center action-item chart-period-selector" data-value="2">48h</a></li>
                            <li><a class="dropdown-item text-light d-flex justify-content-between align-items-center action-item chart-period-selector" data-value="3">72h</a></li>
                            <li><a class="dropdown-item text-light d-flex justify-content-between align-items-center action-item chart-period-selector" data-value="7">7 jours</a></li>
                        </ul>
                    </div>
                    <div class="card bg-primary-color p-2 msi-border mt-3">
                        <div class="d-flex align-items-center rounded-3 p-3 bg-active-color border-active action-item chart-data-selector action-item-disabled" data-value="temperature">
                            <i class="fa-solid fa-chart-line text-light fa-lg me-3"></i>
                            <h6 class="text-light fw-normal mb-0">
                                Température
                            </h6>
                        </div>
                        <hr class="mt-1 mb-1">
                        <div class="d-flex align-items-center rounded-3 p-3 action-item chart-data-selector" data-value="rain">
                            <i class="fa-solid fa-chart-column text-light fa-lg me-3"></i>
                            <h6 class="text-light fw-normal mb-0">
                                Pluie
                            </h6>
                        </div>
                        <hr class="mt-1 mb-1">
                        <div class="d-flex align-items-center rounded-3 p-3 action-item chart-data-selector" data-value="wind">
                            <i class="fa-solid fa-chart-line text-light fa-lg me-3"></i>
                            <h6 class="text-light fw-normal mb-0">
                                Vent
                            </h6>
                        </div>
                        <hr class="mt-1 mb-1">
                        <div class="d-flex align-items-center rounded-3 p-3 action-item chart-data-selector" data-value="wind_direction">
                            <i class="fa-solid fa-chart-area text-light fa-lg me-3"></i>
                            <h6 class="text-light fw-normal mb-0">
                                Direction du vent
                            </h6>
                        </div>
                        <hr class="mt-1 mb-1">
                        <div class="d-flex align-items-center rounded-3 p-3 action-item chart-data-selector" data-value="humidity">
                            <i class="fa-solid fa-chart-line text-light fa-lg me-3"></i>
                            <h6 class="text-light fw-normal mb-0">
                                Humidité
                            </h6>
                        </div>
                        <hr class="mt-1 mb-1">
                        <div class="d-flex align-items-center rounded-3 p-3 action-item chart-data-selector" data-value="uv">
                            <i class="fa-solid fa-chart-column text-light fa-lg me-3"></i>
                            <h6 class="text-light fw-normal mb-0">
                                Radiations
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/page/meteo_live.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts/saint_martin_dheres_live.js') }}"></script>
{% endblock %}