{% extends 'layout.html' %}
{% import "macros/observations_macros.html" as macros %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/observations.css') }}">
{% endblock css %}

{% block observations_active %}
    active
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h3 class="text-light mb-3">
            <i class="fa-solid fa-map text-light me-2"></i>
            Cartes Météo
        </h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="card bg-primary-color p-3 msi-border">
                    <h5 class="text-light text-center fw-normal mb-0">
                        Cartes météo
                    </h5>
                    <hr class="text-light mt-3 mb-3 opacity-25">
                    <iframe src="https://www.meteoblue.com/fr/meteo/cartes/widget/grenoble_france_3014728?windAnimation=0&windAnimation=1&gust=0&gust=1&satellite=0&satellite=1&cloudsAndPrecipitation=0&cloudsAndPrecipitation=1&temperature=0&temperature=1&sunshine=0&sunshine=1&extremeForecastIndex=0&extremeForecastIndex=1&geoloc=fixed&tempunit=C&windunit=km%252Fh&lengthunit=metric&zoom=8&autowidth=auto"
                            frameborder="0"
                            scrolling="NO"
                            allowtransparency="true"
                            style="width: 100%; height: 575px;"
                            class="rounded">
                    </iframe>
                </div>
            </div>

            <div class="col-lg-6 mt-lg-0 mt-3">
                <div class="card bg-primary-color p-3 msi-border">
                    <h5 class="text-light text-center fw-normal mb-0">
                        Cartes de chaleur urbaine
                    </h5>
                    <hr class="text-light mt-3 mb-3 opacity-25">
                    <iframe src="https://www.meteoblue.com/fr/products/cityclimate/widget/grenoble?wind_map=1&heading=0&webcams=0&share=0&info=0&autowidth=auto"
                            frameborder="0"
                            scrolling="NO"
                            allowtransparency="true"
                            sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
                            style="width: 100%; height: 575px">
                    </iframe>
                </div>
            </div>

        </div>

        <h3 class="text-light mt-3 mb-3">
            <i class="fa-solid fa-satellite-dish text-light me-2"></i>
            Radar de Précipitations
        </h3>
        <div class="col-12">
            <div class="card bg-primary-color p-3 msi-border">
                <iframe src="https://www.rainviewer.com/map.html?loc=45.2084,5.7358,9.5&oCS=1&c=3&o=83&lm=1&layer=radar&sm=1&sn=1&ts=2"
                        width="100%"
                        frameborder="0"
                        style="height:75vh;"
                        class="rounded"
                        id="liveRadar">
                </iframe>
            </div>
        </div>

        <h3 class="text-light mt-3 mb-3">
            <i class="fa-solid fa-bell text-light me-2"></i>
            Alertes
        </h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="card bg-primary-color p-3 msi-border">
                    <h5 class="text-light text-center">Vigilance météorologique</h5>
                    <ul class="nav ms-auto me-auto mt-1 mb-3" role="tablist">
                        <li class="nav-item me-1" role="presentation">
                            <a data-mdb-tab-init class="nav-link nav-vigilance-alert text-light active opacity-50 tab-active" id="vigilanceTodayTab" href="#vigilanceTodayContent" role="tab">
                                Aujourd'hui
                            </a>
                        </li>
                        <li class="nav-item ms-1 {{ macros.toggle_visibility(weather_alerts_tomorrow) }}" role="presentation">
                            <a data-mdb-tab-init class="nav-link nav-vigilance-alert text-light opacity-50" id="vigilanceTomorrowTab" href="#vigilanceTomorrowContent" role="tab">
                                Demain
                            </a>
                        </li>
                    </ul>
                    <hr class="text-light mb-2">
                    <!-- Tabs content -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active"  id="vigilanceTodayContent" role="tabpanel">
                            <div class="mb-3">
                                <span class="badge p-3 {{ macros.data_status_color(is_weather_alerts_data_fresh) }}">
                                    <i class="fa-solid fa-info me-2"></i>Données pour le {{ weather_alerts_today['date_echeance'] }}
                                </span>
                            </div>
                            <!-- Flex container -->
                            <div class="d-flex justify-content-center mt-3">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="p-2 badge-primary {{ macros.vigilance_bg_color(weather_alerts_today['color_id']) }} rounded-4">
                                            <span class="fa-stack fa-lg fa-fw">
                                                <i class="{{ weather_alerts_today['global_icon'] }} fa-stack-1x {{ macros.vigilance_text_color(weather_alerts_today['color_id']) }}"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-4">
                                        <p class="{{ macros.vigilance_text_color(weather_alerts_today['color_id']) }} mb-1">
                                            Vigilance {{ macros.vigilance_level_color(weather_alerts_today['color_id']) }}
                                        </p>
                                        <h5 class="fw-bold mb-1 text-light">
                                            {{ weather_alerts_today['qualificatif'] }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-group list-group-light weather-alerts mt-3" style="border: None;">
                                {% for item in weather_alerts_today["results"] %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center alert-item-border">
                                        <div>
                                            <div class="d-flex justify-content-center gap-2 align-items-center text-light">
                                                <div class="rounded-circle d-flex justify-content-center align-items-center {{ macros.vigilance_bg_color(item['color_id']) }}"
                                                     style="width: 45px; height: 45px;">
                                                    <i class="fa-solid {{ item['icon'] }} fa-xl {{ macros.vigilance_text_color(item['color_id']) }}"></i>
                                                </div>
                                                {{ item['phenomenon'] }}
                                            </div>
                                        </div>
                                        <span class="badge rounded-pill p-2 {{ macros.vigilance_bg_color(item['color_id']) }} {{ macros.vigilance_text_color(item['color_id']) }}">{{ item['qualificatif'] }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if weather_alerts_tomorrow != None %}
                            <div class="tab-pane fade" id="vigilanceTomorrowContent" role="tabpanel" style="display: none">
                                <div class="mb-3">
                                    <span class="badge p-3 {{ macros.data_status_color(is_weather_alerts_data_fresh) }}">
                                        <i class="fa-solid fa-info me-2"></i>Données pour le {{ weather_alerts_tomorrow['date_echeance'] }}
                                    </span>
                                </div>
                                <!-- Flex container -->
                                <div class="d-flex justify-content-center mt-3">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0">
                                            <div class="p-2 badge-primary {{ macros.vigilance_bg_color(weather_alerts_tomorrow['color_id']) }} rounded-4">
                                                <span class="fa-stack fa-lg fa-fw">
                                                    <i class="{{ weather_alerts_tomorrow['global_icon'] }} fa-stack-1x {{ macros.vigilance_text_color(weather_alerts_tomorrow['color_id']) }}"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-4">
                                            <p class="{{ macros.vigilance_text_color(weather_alerts_tomorrow['color_id']) }} mb-1">
                                                Vigilance {{ macros.vigilance_level_color(weather_alerts_tomorrow['color_id']) }}
                                            </p>
                                            <h5 class="fw-bold mb-1 text-light">
                                                {{ weather_alerts_tomorrow['qualificatif'] }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group list-group-light weather-alerts mt-3" style="border: None;">
                                    {% for item in weather_alerts_tomorrow["results"] %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center alert-item-border">
                                            <div>
                                                <div class="d-flex justify-content-center gap-2 align-items-center text-light">
                                                    <div class="rounded-circle d-flex justify-content-center align-items-center {{ macros.vigilance_bg_color(item['color_id']) }}"
                                                         style="width: 45px; height: 45px;">
                                                        <i class="fa-solid {{ item['icon'] }} fa-xl {{ macros.vigilance_text_color(item['color_id']) }}"></i>
                                                    </div>
                                                    {{ item['phenomenon'] }}
                                                </div>
                                            </div>
                                            <span class="badge rounded-pill p-2 {{ macros.vigilance_bg_color(item['color_id']) }} {{ macros.vigilance_text_color(item['color_id']) }}">{{ item['qualificatif'] }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-3">
                <div class="card bg-primary-color p-3 msi-border">
                    <h5 class="text-light text-center">Indice qualité de l'air</h5>
                    <ul class="nav ms-auto me-auto mt-1 mb-3" role="tablist">
                        <li class="nav-item me-1" role="presentation">
                            <a data-mdb-tab-init class="nav-link nav-pollution-alert text-light active opacity-50 tab-active" id="pollutionTodayTab" href="#pollutionTodayContent" role="tab">
                                Aujourd'hui
                            </a>
                        </li>
                        <li class="nav-item ms-1" role="presentation">
                            <a data-mdb-tab-init class="nav-link nav-pollution-alert text-light opacity-50" id="pollutionTomorrowTab" href="#pollutionTomorrowContent" role="tab">
                                Demain
                            </a>
                        </li>
                    </ul>
                    <hr class="text-light mb-2">
                    <!-- Tabs content -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pollutionTodayContent" role="tabpanel">
                            <div class="mb-3">
                                <span class="badge p-3 {{ macros.data_status_color(is_pollution_alerts_data_fresh) }}">
                                    <i class="fa-solid fa-info me-2"></i>Données pour le {{ pollution_alerts_today['date_echeance'] }}
                                </span>
                            </div>

                            <!-- Flex container -->
                            <div class="d-flex justify-content-center gap-1 align-items-center">
                                {% for indice in range(1, 7) %}
                                    <div data-mdb-tooltip-init title="{{ ['Bon', 'Moyen', 'Dégradé', 'Mauvais', 'Très mauvais', 'Extrêmement mauvais'][indice - 1] }}">
                                        <img src="{{ url_for('static', filename='img/atmo_indice_' ~ indice ~ '.svg') }}"
                                             alt="{{ ['Bon', 'Moyen', 'Dégradé', 'Mauvais', 'Très mauvais', 'Extrêmement mauvais'][indice - 1] }}"
                                             class="{{ macros.active_pollution_icon(indice, pollution_alerts_today['indice']) }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <h5 class="fw-bold mt-2 text-center {{ macros.pollution_indice_color(pollution_alerts_today['indice']) }}">{{ pollution_alerts_today['qualificatif'] }}</h5>
                            <p class="border border-danger text-danger rounded p-2 text-center mt-3 {{ macros.toggle_visibility(pollution_alerts_today['vigilance']) }}">
                                <i class="fas fa-bullhorn me-3"></i>Vigilance pollution en cours
                            </p>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_today['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">Multi-polluants</p>
                                                    <p class="fw-bold mb-0">&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_today['sous_indices']['NO2']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">Dioxyde d'azote</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_today['sous_indices']['NO2']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_today['sous_indices']['O3']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">Ozone</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_today['sous_indices']['O3']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_today['sous_indices']['SO2']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 fw-bold mb-1">Dioxyde de soufre</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_today['sous_indices']['SO2']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_today['sous_indices']['PM10']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">PM10</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_today['sous_indices']['PM10']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_today['sous_indices']['PM2.5']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">PM2.5</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_today['sous_indices']['PM2.5']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pollutionTomorrowContent" role="tabpanel" style="display: none">
                            <div class="mb-3">
                                <span class="badge p-3 {{ macros.data_status_color(is_pollution_alerts_data_fresh) }}">
                                    <i class="fa-solid fa-info me-2"></i>Données pour le {{ pollution_alerts_tomorrow['date_echeance'] }}
                                </span>
                            </div>

                            <!-- Flex container -->
                            <div class="d-flex justify-content-center gap-1 align-items-center">
                                {% for indice in range(1, 7) %}
                                    <div data-mdb-tooltip-init title="{{ ['Bon', 'Moyen', 'Dégradé', 'Mauvais', 'Très mauvais', 'Extrêmement mauvais'][indice - 1] }}">
                                        <img src="{{ url_for('static', filename='img/atmo_indice_' ~ indice ~ '.svg') }}"
                                             alt="{{ ['Bon', 'Moyen', 'Dégradé', 'Mauvais', 'Très mauvais', 'Extrêmement mauvais'][indice - 1] }}"
                                             class="{{ macros.active_pollution_icon(indice, pollution_alerts_tomorrow['indice']) }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <h5 class="fw-bold mt-2 text-center {{ macros.pollution_indice_color(pollution_alerts_tomorrow['indice']) }}">{{ pollution_alerts_tomorrow['qualificatif'] }}</h5>
                            <p class="border border-danger text-danger rounded p-2 text-center mt-3 {{ macros.toggle_visibility(pollution_alerts_tomorrow['vigilance']) }}">
                                <i class="fas fa-bullhorn me-3"></i>Vigilance pollution en cours
                            </p>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_tomorrow['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">Multi-polluants</p>
                                                    <p class="fw-bold mb-0">&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_tomorrow['sous_indices']['NO2']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">Dioxyde d'azote</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_tomorrow['sous_indices']['NO2']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_tomorrow['sous_indices']['O3']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">Ozone</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_tomorrow['sous_indices']['O3']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_tomorrow['sous_indices']['SO2']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 fw-bold mb-1">Dioxyde de soufre</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_tomorrow['sous_indices']['SO2']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_tomorrow['sous_indices']['PM10']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">PM10</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_tomorrow['sous_indices']['PM10']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6 mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-circle fa-xl {{ macros.pollution_indice_color(pollution_alerts_tomorrow['sous_indices']['PM2.5']['indice']) }}"></i>
                                                <div class="ms-3 text-light">
                                                    <p class="opacity-50 mb-1">PM2.5</p>
                                                    <p class="fw-bold mb-0">{{ pollution_alerts_tomorrow['sous_indices']['PM2.5']['concentration'] }} µg/m<sup>3</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-light mt-3 mb-3">
            <i class="fa-solid fa-mountain text-light me-2"></i>
            Météo Montagne
        </h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-primary-color p-3 msi-border">
                    <!-- Tabs navs -->
                    <ul class="nav mb-3 ms-auto me-auto" role="tablist">
                        <li class="nav-item me-1" role="presentation">
                            <a data-mdb-tab-init class="nav-link nav-mountain-weather text-light opacity-50 active tab-active" id="snowTab" href="#snowTabContent" role="tab">
                                Enneigement
                            </a>
                        </li>
                        <li class="nav-item ms-1" role="presentation">
                            <a data-mdb-tab-init class="nav-link nav-mountain-weather text-light opacity-50" id="avalancheTab" href="#avalancheTabContent" role="tab">
                                Risques-avalanche
                            </a>
                        </li>
                    </ul>
                    <!-- Tabs navs -->
                    <div class="row mt-3">
                        <div class="col-lg-4">
                            <h5 class="text-light text-center fw-bold">Isère (38)</h5>
                            <hr class="text-light">
                            <div class="text-center">
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item bg-active-color action-item-disabled" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="belledonne">Belledonne</button>
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="chartreuse">Chartreuse</button>
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="grandes_rousses">Grandes Rousses</button>
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="oisans">Oisans</button>
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="vercors">Vercors</button>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-lg-0 mt-3">
                            <h5 class="text-light text-center fw-bold">Savoie (73)</h5>
                            <hr class="text-light">
                            <div class="text-center">
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="bauges">Bauges</button>
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="beaufortain">Beaufortain</button>
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="haute_maurienne">Haute-Maurienne</button>
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="haute_tarentaise">Haute-Tarentaise</button>
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="vanoise">Vanoise</button>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-lg-0 mt-3">
                            <h5 class="text-light text-center fw-bold">Haute-Savoie (74)</h5>
                            <hr class="text-light">
                            <div class="text-center">
                                <button type="button" class="btn btn-outline-info mx-1 my-1 mountain-button action-item" data-mdb-ripple-init data-mdb-ripple-color="dark" data-value="mont_blanc">Mont-Blanc</button>
                            </div>
                        </div>
                    </div>
                    <hr class="text-light">
                    <!-- Tabs content -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="snowTabContent" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-4 d-flex align-items-center">
                                    <h5 class="text-light fw-bold" id="massifTitle"></h5>
                                </div>
                                <div class="col-lg-3 ms-auto">
                                    <div class="dropdown custom-dropdown w-100">
                                        <button
                                            class="btn btn-hover bg-primary-color msi-border text-light dropdown-toggle w-100 d-flex justify-content-between align-items-center"
                                            type="button"
                                            data-mdb-dropdown-init
                                            data-mdb-ripple-init
                                            data-mdb-dropdown-animation="off"
                                            aria-expanded="false">
                                            <span id="snowCoveragePeriodSelectTitle">Semaine</span>
                                            <i class="fa-solid fa-sort fa-sm opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-primary-color msi-border w-100" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item text-light d-flex justify-content-between align-items-center action-item snow-coverage-selector action-item-disabled" data-value="week">Semaine<i class="fa-solid fa-check text-success"></i></a></li>
                                            <li><a class="dropdown-item text-light d-flex justify-content-between align-items-center action-item snow-coverage-selector" data-value="season">Saison</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row mt-3" id="snowCoverageContainer">
                                    <div class="col-lg-6 ms-auto me-auto text-center">
                                        <img class="img-fluid rounded" src="https://rpcache-aa.meteofrance.com/internet2018client/2.0/files/mountain/observations/AIGLES.gif" alt="Les données sont actuellement indisponibles">
                                    </div>
                                </div>
                                <p class="text-danger text-center" id="snowCoverageErrorMessage" style="display: none;">Données indisponibles</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="avalancheTabContent" role="tabpanel" style="display: none">
                            <div class="row mt-3">
                                <div class="col-lg-9 ms-auto me-auto" id="avalancheContainer">
                                    <iframe class="rounded" src="https://skitour.fr/neige/bulletin_avalanche_8.pdf" id="braFrame" style="height: 75vh;" width="100%" frameborder="0"></iframe>
                                    <p class="text-danger text-center" id="braErrorMessage" style="display: none;">Données indisponibles</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tabs content -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/page/observations.js') }}"></script>
{% endblock %}
