{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/observations.css') }}">
{% endblock css %}

{% block meteo_active %}
    active
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="col-lg-6">
    <table class="table align-middle mb-0">
        <thead class="">
            <tr>
                <th>Niveau</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                    <div class="rounded-circle d-flex justify-content-center align-items-center text-light-green bg-dark-green border-achievement"
                        style="width: 45px; height: 45px;">
                        <i class="fa-solid fa-check"></i>
                    </div>
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Vert</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">
                        -
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Jaune</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">
                        Soyez attentif si vous pratiquez des activités sensibles aux risques météorologiques.
                        Des phénomènes habituels dans la région mais occasionnellement et localement dangereux sont prévus.
                        Tenez-vous au courant de l'évolution de la situation.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Orange</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">
                        Des phénomènes dangereux sont prévus.
                        Tenez-vous au courant de l'évolution de la situation et suivez les conseils de sécurité émis par les pouvoirs publics.
                    </p>
                </td>
            </tr>
                    <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Rouge</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">
                        Des phénomènes dangereux d'intensité exceptionnelle sont prévus.
                        Tenez-vous régulièrement au courant de l'évolution de la situation et respectez impérativement les consignes de sécurité émises par les pouvoirs publics.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/page/observations.js') }}"></script>
{% endblock %}