{% extends 'layout.html' %}
{% import "macros/meteo_live_macros.html" as macros %}
{% from "macros/meteo_live_macros.html" import format_weather_value %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meteo_live.css') }}">
{% endblock css %}

{% block meteo_active %}
    active
{% endblock %}

{% block content %}
    {{ macros.render_meteo_live_page(data_status, station_data, current_weather_data, daily_extremes_data) }}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/page/meteo_live.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts/saint_ismier_live.js') }}"></script>
{% endblock %}