.table-outline{
    border: 1px solid rgba(251, 251, 251, .2);
    border-radius: 6px;
}

th, td {
    background-color: rgba(0, 0, 0, 0) !important;
}

.collapseButton {
    border: 1px solid rgba(84, 180, 211, 1);
    background-color: rgba(0, 0, 0, 0);
}

.collapseButton:hover {
    border: 1px solid rgba(84, 180, 211, 1);
    background-color: rgba(80, 180, 211, 0.2);
}

.forecasts-progress {
    height: 16px;
    border-radius: 8px;
}

/* --- predictability Class Color ---------------------------------------- */
/* predictability Class 1 */
.bg-predictability-class-1 {
    background: rgba(44, 15, 20, 1);
    border: 1px solid rgba(227, 112, 102, .6);
}
.fg-predictability-class-1 {
    background: rgba(227, 112, 102, 1);
}
.text-predictability-class-1 {color: rgba(227, 112, 102, 1);}

/* predictability Class 2 */
.bg-predictability-class-2 {
    background: rgba(228, 161, 27, 0.2);
    border: 1px solid rgba(228, 161, 27, 0.6);
}
.fg-predictability-class-2 {
    background: rgba(228, 161, 27, 1);
}
.text-predictability-class-2 {color: rgba(228, 161, 27, 1);}

/* predictability Class 3 */
.bg-predictability-class-3 {
    background: rgba(255, 235, 59, 0.2);
    border: 1px solid rgba(255, 235, 59, 0.6);
}
.fg-predictability-class-3 {
    background: rgba(255, 235, 59, 1);
}
.text-predictability-class-3 {color: rgba(255, 235, 59, 1);}

/* predictability Class 4 */
.bg-predictability-class-4 {
    background: rgba(161, 228, 77, 0.2);
    border: 1px solid rgba(161, 228, 77, 0.6);
}
.fg-predictability-class-4 {
    background: rgba(161, 228, 77, 1);
}
.text-predictability-class-4 {color: rgba(161, 228, 77, 1);}

/* predictability Class 5 */
.bg-predictability-class-5 {
    background: rgba(0, 31, 15, 1);
    border: 1px solid rgba(89, 243, 166, .6);
}
.fg-predictability-class-5 {
    background: rgba(89, 243, 166, 1);
}
.text-predictability-class-5 {color: rgba(89, 243, 166, 1);}