
.border-chart-card {border: 1px solid rgba(251, 251, 251, .3);}

.weather-card {
    border: 1px solid rgba(251, 251, 251, .3);
    height: 160px;}

@media screen and (max-width: 1400px) {
    .weather-card {
        height: 170px;
    }
}

.select-modern {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(251, 251, 251, .3);
}

option {
    background: rgb(0, 0, 0);
}

