/* --- Color ---------------------------------------- */

.background-color {background: #1E1F22;}
.navbar-color {background: #1E1F22;}
.text-light-green {color: rgba(89, 243, 166, 1);}
.bg-light-green {background: rgba(89, 243, 166, 1);}
.text-dark-green {color: rgba(0, 31, 15, 1);}
.bg-dark-green {background: rgba(0, 31, 15, 1);}
.bg-dark-red {background: rgba(44, 15, 20, 1);}
.text-dark-red {color: rgba(44, 15, 20, 1);}
.bg-light-red {background: rgba(227, 112, 102, 1);}
.text-light-red {color: rgba(227, 112, 102, 1);}
.bg-card {background: rgba(9, 9, 11, 1);}
.bg-dark-red {background: rgba(44, 15, 20, 1);}
.dew-point-color {color: rgba(41, 247, 255, 1);}

/* --- General ------------------------------------------ */
body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 61px);
    background: rgba(9, 9, 11, 1);
    margin: 61px 0 0;
}

main
{
    flex: 1 0 auto;
}

hr {border-top: 1px solid rgba(251, 251, 251, .7);}

/* --- Navbar ------------------------------------------ */
.active-background {
    background-color: rgba(68, 69, 74, 1);
    border-radius: 4px;
}

.menu-button-hov-bgcolor:hover{
    background-color:rgba(68, 69, 74, 1);
    }

.dropdown-hov-bgcolor:hover{background-color:rgba(46, 67, 110, 1);}

.dropdown-border {border: 1px solid rgba(251, 251, 251, .3);}

/* --- Website Scrollbar -------------------------------- */
::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-track
{
    background: #2E2E2E;
}

::-webkit-scrollbar-thumb
{
    background: #9E9E9E;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover
{
    background: #616161;
}

/* Modifier l'apparence du contenu du tooltip */
.tooltip-inner {
  background-color: rgba(9, 9, 11, 1);
  color: rgba(251, 251, 251, 1);
  border-radius: 6px;
  border: 1px solid rgba(251, 251, 251, .2);
}
