/* --- Color ---------------------------------------- */

.background-color {background: #1E1F22;}
.navbar-color {background: #2B2D30;}
.text-light-green {color: rgba(89, 243, 166, 1);}
.bg-light-green {background: rgba(89, 243, 166, 1);}
.text-dark-green {color: rgba(0, 31, 15, 1);}
.bg-dark-green {background: rgba(0, 31, 15, 1);}
.bg-card {background: rgba(9, 9, 11, 1);}

/* --- General ------------------------------------------ */
body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 61px);
    background: #1E1F22;
    margin: 61px 0 0;
}

main
{
    flex: 1 0 auto;
}

/* --- Navbar ------------------------------------------ */
.active-background {
    background-color: rgba(68, 69, 74, 1);
    border-radius: 8px;
}

.dropdown-hov-bgcolor:hover{background-color:rgba(46, 67, 110, 1);}

.dropdown-border {border: 1px solid rgba(251, 251, 251, .3);}