/* --- Color ---------------------------------------- */
.bg-primary-color {background: rgba(9, 9, 11, 1);}
.text-primary-color {color: rgba(9, 9, 11, 1);}
.bg-secondary-color {background: rgba(39, 39, 42, 1);}
.text-secondary-color {color: rgba(39, 39, 42, 1);}
.bg-active-color {background: rgba(84, 180, 211, 0.2);}
.bg-light-green {background: rgba(89, 243, 166, 1);}
.text-light-green {color: rgba(89, 243, 166, 1) !important;}
.bg-dark-green {background: rgba(0, 31, 15, 1);}
.text-dark-green {color: rgba(0, 31, 15, 1);}
.bg-dark-red {background: rgba(44, 15, 20, 1);}
.text-dark-red {color: rgba(44, 15, 20, 1);}
.bg-light-red {background: rgba(227, 112, 102, 1);}
.text-light-red {color: rgba(227, 112, 102, 1);}
.bg-dew-point-color {background: rgba(41, 247, 255, 1);}
.text-dew-point-color {color: rgba(41, 247, 255, 1);}
.bg-rain-color {background: rgba(74, 171, 237, 1) !important;}
.text-rain-color {color: rgba(74, 171, 237, 1) !important;}
.bg-amber-color {background: rgba(255, 193, 7, 1) !important;}
.text-amber-color {color: rgba(255, 193, 7, 1) !important;}

/* --- General ------------------------------------------ */
body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 61px);
    background: rgba(9, 9, 11, 1);
    margin: 61px 0 0;
}

main
{
    flex: 1 0 auto;
}

/* --- Navbar ------------------------------------------ */
.navbar {
    background: rgba(9, 9, 11, 0.6) !important;; /* Couleur de fond avec opacité */
    backdrop-filter: blur(10px); /* Effet de flou */
    -webkit-backdrop-filter: blur(5px); /* Support pour Safari */
    border-bottom: 1px solid rgba(251, 251, 251, .3);
}

.menu-button-hov-bgcolor:hover {
    background-color:rgba(68, 69, 74, 1);
}

.dropdown-border {border: 1px solid rgba(251, 251, 251, .3);}

/* --- Footer ------------------------------------------ */
footer {
    border-top: 1px solid rgba(251, 251, 251, .3);
}

/* --- Website Scrollbar -------------------------------- */
::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-track
{
    background: #2E2E2E;
}

::-webkit-scrollbar-thumb
{
    background: #9E9E9E;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover
{
    background: #616161;
}

/* --- Tooltip Design -------------------------------- */
.tooltip-inner {
    background-color: rgba(9, 9, 11, 1);
    color: rgba(251, 251, 251, 1);
    border-radius: 6px;
    border: 1px solid rgba(251, 251, 251, .2);
}

/* --- Border -------------------------------- */
.border-achievement {border: 1px solid rgba(89, 243, 166, .6);}
.border-error {border: 1px solid rgba(227, 112, 102, .6);}
.msi-border {border: 1px solid rgba(251, 251, 251, .3);}
.border-active {border: 1px solid rgba(84, 180, 211, 1);}

/* --- action-item -------------------------------- */
.action-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-item:hover {
    background-color: rgba(80, 180, 211, 0.2);
}

.action-item-disabled {
    pointer-events: none; /* Désactive les clics */
}

/* --- Dropdown-Select -------------------------------- */
.custom-dropdown .dropdown-toggle::after {
    display: none; /* Hide the default arrow */
}

.btn-hover {
    transition: border 0.3s;
}

.btn-hover:hover {
    border: 1px solid rgba(251, 251, 251, 1);
}

/* --- Typography -------------------------------- */

.bold {
    font-weight: bold;
}

/* --- Visibility -------------------------------- */
.hide {
    display: none;
}