.tab-active {
    border-bottom: 1px solid rgba(251, 251, 251, 1);
    opacity: 1!important;
}

.select-modern {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(251, 251, 251, .3);
}

option {
    background: rgb(0, 0, 0);
}

.bg-light-warning {
    background-color: rgba(255, 235, 59, 1);
}

.text-light-warning {
    color: rgba(255, 235, 59, 1);
}

.weather-alerts .alert-item-border:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.status-circle {
    width: 50px;
    height: 50px;
}

/* Ajustement si nécessaire pour les textes de plusieurs lignes */
.card-text-container {
    min-height: 70px; /* Ajuster cette valeur selon le nombre max de lignes pour les textes du haut */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le texte dans son conteneur */
    align-items: center; /* Centre horizontalement le texte */
}