.tab-active {
    border-bottom: 1px solid rgba(251, 251, 251, 1);
    opacity: 1!important;
}

.select-modern {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(251, 251, 251, .3);
}

option {
    background: rgb(0, 0, 0);
}

/* --- Vigilance couleur -------------------------------- */
.bg-caution {
    background-color: rgba(255, 235, 59, 0.2) !important;
}

.border-caution {border: 1px solid rgba(255, 235, 59, 0.6) !important;}

.text-caution {
    color: rgba(255, 235, 59, 1) !important;
}

.bg-warning {
    background-color: rgba(228, 161, 27, 0.2) !important;
}

.border-warning {border: 1px solid rgba(228, 161, 27, 0.6) !important;}

.text-warning {
    color: rgba(228, 161, 27, 1) !important;
}

.weather-alerts .alert-item-border:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.status-circle {
    width: 50px;
    height: 50px;
}

/* --- Indice atmo couleur -------------------------------- */
.indice_atmo_indisponible {
    color: #dddddd;
}

.indice_atmo_bon {
    color: #50f0e6;
}

.indice_atmo_moyen {
    color: #50ccaa;
}

.indice_atmo_degrade {
    color: #f0e641;
}

.indice_atmo_mauvais {
    color: #ff5050;
}

.indice_atmo_tres_mauvais {
    color: #960032;
}

.indice_atmo_extremement_mauvais {
    color: #872181;
}

.indice_atmo_evenement {
    color: #888888;
}

/* --- Alertes Icone -------------------------------- */
.pollution_icon {
    width: 38px;
    height: 38px;
}

.active_pollution_icon {
    width: 55px;
    height: 55px;
}

.vigilance_icon {
    font-size: 30px;
}

.active_vigilance_icon {
    font-size: 50px;
}
