#map {
    width: 100%;
    height: 80vh;
}

/* Cache l'apparence native du bouton radio */
.leaflet-control-layers-base input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Style l'élément label qui agit comme le bouton personnalisé */
.leaflet-control-layers-base input[type="radio"] + span::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
    vertical-align: middle;
}

/* Style l'apparence du bouton radio lorsqu'il est SÉLECTIONNÉ */
.leaflet-control-layers-base input[type="radio"]:checked + span::before {
    background-color: #54B4D3;
    border-color: #54B4D3;
    box-shadow: inset 0 0 0 4px #fff;
}

.popup-close {
    border: 2px solid rgba(84, 180, 211, 1) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.popup-close:hover {
    border: 2px solid rgba(84, 180, 211, 1) !important;
    background-color: rgba(80, 180, 211, 0.2) !important;
}

/* Popup Leaflet */
.leaflet-popup.webcam-popup .leaflet-popup-content-wrapper {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

/* Cache la pointe native Leaflet */
.leaflet-popup.webcam-popup .leaflet-popup-tip {
    display: none !important;
}

/* Contenu interne */
.leaflet-popup.webcam-popup .leaflet-popup-content {
    margin: 0 !important;
    padding: 0 !important;
}

/* cache la croix de fermeture native Leaflet */
.leaflet-popup-close-button {
  display: none !important;
}

.webcam-tooltip.leaflet-tooltip:before {
    display: none !important;
}

.webcam-tooltip {
    background-color: rgba(9, 9, 11, .7);
    color: rgba(251, 251, 251, 1);
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 13px;
    font-family : "roboto";
    border: 1px solid rgba(251, 251, 251, .7);
}

.webcam-marker-container {
    background: transparent;
    border: none;
}

.webcam-marker {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
    transform-origin: bottom center;
}

.badge-zoom {
    transition: transform 0.3s ease !important;
    transform-origin: bottom center !important;
    transform: translate(-50%, -50%);
}

@keyframes ring-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
        filter: drop-shadow(0 0 5px rgba(239, 68, 68, 0.5));
    }
    70% {
        box-shadow: 0 0 0 15px rgba(239, 68, 68, 0);
        filter: drop-shadow(0 0 10px rgba(239, 68, 68, 0.8));
    }
    100% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
        filter: drop-shadow(0 0 5px rgba(239, 68, 68, 0.5));
    }
}

.webcam-marker-video {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
    transform-origin: bottom center;
    animation: ring-pulse 2s ease-out infinite;
    border-radius: 50%;
}


.webcam-marker-container:hover .webcam-marker-video,
.webcam-marker-container:hover .webcam-marker {
    transform: scale(1.2);
}

.webcam-marker-container:hover .badge-zoom {
    transform: translate(-50%, -50%) scale(1.15);
}
