#map {
    width: 100%;
    height: 80vh;
}

.popup-close {
    border: 2px solid rgba(84, 180, 211, 1) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.popup-close:hover {
    border: 2px solid rgba(84, 180, 211, 1) !important;
    background-color: rgba(80, 180, 211, 0.2) !important;
}

/* ENCADREMENT Leaflet : Ne touche qu'à ta popup */
.leaflet-popup.myCustomPopup .leaflet-popup-content-wrapper {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

/* Retirer la pointe */
.leaflet-popup.myCustomPopup .leaflet-popup-tip {
    display: none !important;
}

/* Contenu interne */
.leaflet-popup.myCustomPopup .leaflet-popup-content {
    margin: 0 !important;
    padding: 0 !important;
}

/* cache la croix de fermeture native Leaflet (optionnel si tu veux la remplacer) */
.leaflet-popup-close-button {
  display: none !important;
}

.webcam-tooltip.leaflet-tooltip:before {
    display: none !important;
}

.webcam-tooltip {
    background-color: rgba(9, 9, 11, .7);
    color: rgba(251, 251, 251, 1);
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 13px;
    font-family : "roboto";
    border: 1px solid rgba(251, 251, 251, .7);
}


.webcam-marker-container {
    background: transparent;
    border: none;
}

.webcam-marker {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
    transform-origin: bottom center;
}

.webcam-marker-container:hover .webcam-marker {
    transform: scale(1.2);
}